.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.text-center {
    text-align: center;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.pull-left {
    float: left;
}
.pull-left {
    float: left!important;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#story h1, #story h2, #story h3, #story h4, #story h5, #story h6, p {
    margin: 0;
    padding: 0;
}
#story{
    padding: 100px 0;
    background-color: #fafafa;
    width: 100%;
}
#story h2{
    font-size: 36px;
    color: red;
    margin-bottom: 25px;
}
#story p{
    font-size: 19px;
    line-height: 28px;
    letter-spacing: 0;
    color: #424242;
    padding-bottom: 200px;
}
.time {
    color: #8b8b8b;
    font-weight: 700;
    margin-bottom: 17px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.025em;
}
.icon i{
    position: absolute;
    top: -77px;
    left: 549px;
    font-size: 74px;
    color: red;
}
.timeline-block-left span{
    position: absolute;
    top: 40px;
    left: 430px;
}
#story .timeline-left {
    width: 47%;
    margin-top: 20px;
}
#story .row img {
    width: 400px;
    /* height: 300px; */
    border: 1px solid transparent;
    border-radius: 4%;
    margin-left: 60px;
}
#story .row img{
    transition: all 0.2s linear;
    transform: scale(1);
}
#story .row img:hover{
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);
}
#story .timeline-right {
    width: 30%;
    margin-right: 182px;
}
#story .timeline{ position: relative}
#story .timeline::before {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 0px;
    left: 50%;
    margin-left: -3px;
    width: 6px;
    background: #fb809c;
}
.timeline::after {
    content: "";
    position: absolute;
    top: 70px;
    height: 15px;
    right: 50%;
    margin-right: -3px;
    width: 6px;
    background: #fafafa;
}
.timeline-right{
    margin-top: 53px;
}
#story .row .timeline-head {
    background: #fa4b74;
}
#story .timeline-head h4 {
    color: #FFF;
    text-transform: capitalize;
    padding: 5px 17px;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0.025em;
}
#story .triangle i{
    color: #fa4b74;
    font-size: 35px;
    position: absolute;
    top: 8px;
    left: 5px;
}
#story .timeline-body {
    padding: 5px 15px 5px;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    letter-spacing: 0;
    color: #424242;
    background-color: rgba(213, 213, 213, 0.41);
}
#story .row .timeline:nth-child(2),#story .row .timeline:nth-child(3){
    margin-top: 100px;
}
#story .timeline:nth-child(2) .time{
    position: absolute;
    top: -52px;
    left: 15px;
}
#story .timeline:nth-child(2) .triangle i{
    color: #fa4b74;
    font-size: 35px;
    position: absolute;
    top: 3px;
    left: 335px;
}
#story .timeline:nth-child(2) .timeline-right{
    margin-right: 0;
    margin-left: 176px;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
    .icon i {
        left: 40%;
    }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
    .timeline-block-left span, #story .timeline:nth-child(2) .time {
        top: -50px;
        left: 10%;
    }
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
    #story .row img {
        margin-left: 5px;
    }
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
    .wow {
        animation-name: none !important;
        visibility: visible !important;
    }
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
    #story .timeline-right {
        margin-right: 0;
    }
}

@media (max-width: 319px) {
    .wow{
        animation-name: none !important;
        visibility: visible !important;
    }
    .carousel-control.right, .carousel-control.left {
        padding-top: 183px;
    }
    .container-fluid .navbar-brand {
        margin-left: 25px !important;
    }
    .navbar-header a {
        font-size: 25px;
        margin: 17px 0 0 25px;
    }
    .carousel {
        margin-top: 68px;
    }
    #story .timeline:nth-child(2) .triangle i{
        display: none;
    }
    #story p{
        font-size: 13px;
    }
    #story .timeline-head h4{
        font-size: 22px;
    }
    #story .timeline::before {
        display: none;
    }
    .timeline::after {
        display: none;
    }
    .icon i{
        left: 40%;
    }
    .timeline-block-left span ,#story .timeline:nth-child(2) .time{
        top: -50px;
        left: 10%;
    }
    #story .timeline-left {
        width: 94%;
    }
    #story .row img{
        margin-left: 5px;
    }
    #story .timeline:nth-child(2) .timeline-right {
        margin-left: 0;
    }
    #story .timeline-right {
        width: 100%;
    }
    #story .timeline-right {
        margin-right: 0;
    }

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .wow{
        animation-name: none !important;
        visibility: visible !important;
    }
    .carousel-control.right, .carousel-control.left {
        padding-top: 183px;
    }
    .container-fluid .navbar-brand {
        margin-left: 25px !important;
    }
    .navbar-header a {
        font-size: 25px;
        margin: 17px 0 0 25px;
    }
    .carousel {
        margin-top: 68px;
    }
    #story .timeline:nth-child(2) .triangle i{
        display: none;
    }
    #story p{
        font-size: 13px;
    }
    #story .timeline::before {
        display: none;
    }
    .timeline::after {
        display: none;
    }
    .icon i{
        left: 40%;
    }
    .timeline-block-left span ,#story .timeline:nth-child(2) .time{
        top: -50px;
        left: 10%;
    }
    #story .timeline-left {
        width: 94%;
    }
    #story .row img{
        margin-left: 5px;
    }
    #story .timeline:nth-child(2) .timeline-right {
        margin-left: 0;
    }
    #story .timeline-right {
        width: 100%;
    }
    #story .timeline-right {
        margin-right: 0;
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .wow{
        animation-name: none !important;
        visibility: visible !important;
    }
    .carousel {
        margin-top: 75px;
        height: 400px;
    }
    .wow{
        animation-name: none !important;
        visibility: visible !important;
    }
    #couple .img-cir{
        max-width: 100%;
    }
    #story .timeline:nth-child(2) .triangle i{
        display: none;
    }
    #story .timeline::before {
        display: none;
    }
    .timeline::after {
        display: none;
    }
    .icon i{
        left: 215px;
    }
    .timeline-block-left span {
        top: -62px;
        left: 135px;
    }
    #story .timeline-left {
        width: 60%;
    }
    #story .row img{
        margin-left: 113px;
    }
    #story .timeline-right {
        width: 82%;
        margin-right: 56px;
    }
    #story .timeline:nth-child(2) .time {
        left: -48px;
    }
    #story .timeline:nth-child(2) .timeline-right {
        margin-left: 45px;
    }
    #story .row .timeline:nth-child(2) img{
        margin-left: -90px;
    }
}


@media (min-width: 992px) and (max-width: 1024px) {
    .wow{
        animation-name: none !important;
        visibility: visible !important;
    }

    #story .timeline-right {
        width: 33%;
        margin-right: 100px;
    }
    .timeline-block-left span {
        top: -35px;
        left: 328px;
    }
    #story .timeline:nth-child(2) .timeline-right {
        margin-left: 120px;
    }
    #story .timeline:nth-child(2) .triangle i{
        left: 304px;
    }
    #story .timeline:nth-child(2) .time {
        left: 26px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    #story .row img{
        margin-left: 18px;
    }
    .timeline-block-left span {
        top: -57px;
        left: 203px;
    }
    #story .timeline-right {
        width: 44%;
        margin-right: 15px;
    }
    #story .timeline:nth-child(2) .timeline-right {
        margin-right: 0;
        margin-left: 9px;
    }
    #story .timeline:nth-child(2) .triangle i{
        left: 314px;
    }
}


@media (min-width: 1025px) and (max-width: 1223px) {
    #story .timeline-right {
        width: 38%;
        margin-right: 70px;
    }
    .timeline-block-left span {
        top: -35px;
        left: 316px;
    }
    #story .timeline:nth-child(2) .timeline-right {
        margin-right: 0;
        margin-left: 75px;
    }
    #story .timeline:nth-child(2) .triangle i{
        left: 352px;
    }

}



